@{
    ViewBag.Title = "Index";
}

<h1>Prijavljivanje</h1>

<div>
    @ViewBag.Message
</div>

<form action="~/Registracija/Prijava" method="post">
    <table>
        <tr>
            <td>Korisničko ime:</td>
            <td><input type="text" name="kIme"/></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Prijava"/>
            </td>
        </tr>
    </table>
</form>